@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Source+Sans+3:wght@400;500&family=IBM+Plex+Sans:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.input-base {
  @apply
    w-full
    rounded-lg
    px-3 py-2.5
    bg-light-bg dark:bg-dark-bg
    border border-light-border dark:border-dark-border
    text-light-text dark:text-dark-text
    placeholder:text-light-text2 dark:placeholder:text-dark-text2
    font-body
    focus:outline-none
    focus:ring-2
    focus:ring-brand-500/40;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.6);
}